html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.l-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-main {
    display: flex;
    flex-direction: column;
}

.b-blink {
    display: flex;
    flex-direction: column;
}

.b-blink__label,
.b-logo__label {
    text-align: center;
}